/* Set the background color of body to tan */

* {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body{
    background: #001e4a;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    }

h1,h2,h3 {
	margin: 0vh;
	padding: 2vh;
}

#MyName {
	color: gold;
	text-decoration: none;
}

.banner {
	display: block;
	background-image: url("../imgs/background.jpg");
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center top;
  	background-size: cover;
  	height: 108vh;
  	width: 100%;
	padding-top: 32vh;
	margin: 0;
	margin-bottom: -40vh;
	border: none;
	border-radius: 1vw;
	font-size: 8vw;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: 5px 5px #AA000088;
}

/*.banner p{
	font-size: 6vw;
}*/

.info{
    border: 2px solid red;
    padding: 20px;
    margin: 1vw 1vh;
    font-size: 4vw;
}


#scrollup {
	margin-top: 20vh;
	position: relative;
	top: 20vh;
}

nav {
	opacity: 0;
	z-index: 100;
	background: #AA0000;
	padding-bottom: 20px;
	height: 10vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

p.Mywebsite{
	position: fixed;
  	top: 1vh;
  	left: 1vw;
  	font-size: 6vw;
  	margin: 0;
}

p.Navlink {
	position: fixed;
  	top: 1vh;
  	right: 2vw;
  	font-size: 4vw;
  	margin: 0;
}

b{
    color: red;
    font-size: 4vw;
}

img{
    width: 50%;
}

div.Maincontent {
	display: inline-block;
	width: 100%;
	font-size: 5vw;
}
div.Maincontent>p {
	text-align: left;
	padding: 2vw;
}


/* On screens that are 600px or less, set the background color to olive
@media only screen and (min-width: 992px) {
	body {
	background-color: olive;
	}
	img{
	width: 30%;
	}

	div.Maincontent {
	display: inline-block;
	width: 50%;
	margin: 0 auto;
}
}


*{border: 1px red solid;}*/